*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.s1{
    background-image: url("./img/houses.jpg");
    background-size: cover;
}

.s2{
    background-image: url("./img/egypt.jpg");
    background-size: cover;
}

.s3{
    background-image: url("./img/forest.jpg");
    background-size: cover;
}

.section h1 {
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to left, #FF6392, #F9F9F9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}